footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1%;
    height: 30px; /* Height of the footer */
    background: rgb(10, 36, 59);
    text-align: center;
    color: white;
  }