<div class="container">
  <div class="C1">
    <h2 style="font-size: 2rem;">
      O que é a Majoris?
    </h2>
    <div style="padding: 2%;">
      <p style="font-size: 1.3em;">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      </p>
    </div>
    <button mat-raised-button style="background-color: #04294f;color: white;">Visualizar</button>
  </div>
  <div class="C2">
    <img src="./../../../assets/home/c2.jpeg" width="800px" alt="">
  </div>
  <div class="C3">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            !
          </mat-panel-title>
          <mat-panel-description>
            YEas
          </mat-panel-description>
        </mat-expansion-panel-header>
        <img src="./../../../assets/home/painel-solar.png" style="float: left;" width="600px" alt="">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="C4">
    <h2 style="font-size: 1.5em; margin-top: 2%;">Energia Solar, O que é ?</h2>
    <iframe [src]='videoURL | safe' width="60%" height="320vh" frameborder="0" allowfullscreen webkitallowfullscreen
      mozallowfullscreen>
    </iframe>
  </div>
</div>